<div class="page">
 
  <div
    class="back-icon"
    (click)="volver()">

    <i class="fa-solid fa-arrow-left"></i>

  </div>

  <div *ngIf="!registroActivo">

    <header class="header">

      <h1>Registrar llegada</h1>

      <p>
        Introduce los kilómetros recorridos
      </p>

    </header>

    <div class="card">

      <div class="info-row">

        <span>Fecha</span>

        <strong>
          {{ fechaActual | date:'dd/MM/yyyy' }}
        </strong>

      </div>

      <div class="info-row">

        <span>Hora</span>

        <strong>
          {{ fechaActual | date:'HH:mm' }}
        </strong>

      </div>

      <div class="input-group">

        <label>
          Kilómetros recorridos
        </label>

        <div class="km-input">

          <i class="fa-solid fa-road"></i>

          <input
            type="number"
            min="0"
            step="0.1"
            [(ngModel)]="kilometros">

        </div>

      </div>

      <button
        class="btn-primary"
        (click)="registrarEntrada()">

        <i class="fa-solid fa-person-walking-arrow-right"></i>

        Registrar llegada

      </button>

    </div>

  </div>

  <div
    *ngIf="registroActivo"
    class="card active-card">

    <i class="fa-solid fa-square-parking parking-icon"></i>

    <h2>Vehículo estacionado</h2>

    <p class="time-label">
      Tiempo transcurrido
    </p>

    <div class="counter">

      {{ contador }}

    </div>

    <button
      class="btn-camera">

      <i class="fa-solid fa-video"></i>

      Ver cámara del aparcamiento

  </button>

    <button
      class="btn-primary btn-danger"
      (click)="registrarSalida()">

      <i class="fa-solid fa-door-open"></i>

      Registrar salida

    </button>

  </div>

</div>